* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(65, 65, 3);
    color: white;
}

#spaniel {
    position: static;
    font-size: 30px;
    float: left;
    margin-top: 100px;
    margin-left: 15px;
    padding: 5;
}

.imgSpaniel {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 270px;
    width: 300px;
    border-radius: 15%;
    float: right;
}

#firstInfo {
    font-size: 20px;
    width: 80%;
    position: static;
    margin-top: 120px;
    margin-left: 15px;
    right: 350px;
}
.secondInfo {
    font-size: 20px;
    width: 80%;
    position: static;
    margin-left: 15px;
    right: 350px;
}

.strip {
    margin-left: 15px;
    margin-right: 315px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.secondSpaniel {
    position: absolute;
    top: 290px;
    right: 10px;
    float: left;
    height: 250px;
    width: 300px;
    border-radius: 15%;
}

#headSecondInfo {
    font-size: 25px;
    margin-left: 15px;
}




